module sqlite 1.0.0;

require {
	attribute domain;
	type unconfined_t;
	type initrc_t;
	class db_database { access };
	class db_column { select update insert drop };
	class db_table { create select update insert delete setattr getattr drop };
	class db_tuple { select update insert delete };
}

#<database>
type sqlite_db_t, domain;

#<tables>
type sqlite_master_t, domain;
type sqlite_temp_master_t, domain;
type selinux_context_t, domain;
type app_data_db_t, domain;
type other_t, domain;

#For testing purposes only
type table_all, domain;
type table_no_create, domain;
type table_no_insert, domain;
type table_no_delete, domain;
type table_other, domain;

#<columns>
type app_data_db_c, domain;
type other_c, domain;

#For testing purposes only
type column_all, domain;
type column_no_update, domain;
type column_no_select_update, domain;
type column_other, domain;

#<tuples>
type sqlite_tuple_t, domain;
type sqlite_tuple1_t, domain;
type sqlite_tuple2_t, domain;
type sqlite_tuple3_t, domain;
type sqlite_tuple4_t, domain;
type sqlite_tuple5_t, domain;
type sqlite_tuple6_t, domain;
type sqlite_tuple7_t, domain;
type sqlite_tuple8_t, domain;
type sqlite_tuple9_t, domain;
type sqlite_tuple10_t, domain;
type sqlite_tuple11_t, domain;
type sqlite_tuple12_t, domain;
type sqlite_tuple13_t, domain;
type sqlite_tuple14_t, domain;
type sqlite_tuple15_t, domain;

type sqlite_tuple_no_select_t, domain;
type sqlite_tuple_no_update_t, domain;
type sqlite_tuple_no_delete_t, domain;

allow { unconfined_t } sqlite_db_t:db_database { access };

allow { unconfined_t } { sqlite_master_t sqlite_temp_master_t selinux_context_t }:db_table { create select update insert delete setattr getattr drop };
allow { unconfined_t } { sqlite_master_t sqlite_temp_master_t selinux_context_t other_c }:db_column { select update insert drop };

#tables
allow { unconfined_t } table_all:db_table { create select update insert delete setattr getattr drop };
allow { unconfined_t } table_no_create:db_table { select update insert delete setattr getattr drop };
allow { unconfined_t } table_no_insert:db_table { create select update delete setattr getattr drop };
allow { unconfined_t } table_no_delete:db_table { create select update insert setattr getattr };
allow { unconfined_t } table_other:db_table { create select update insert setattr getattr drop delete };

#columns
allow { unconfined_t } column_all:db_column { select update insert drop };
allow { unconfined_t } column_no_update:db_column { select insert drop };
allow { unconfined_t } column_no_select_update:db_column { insert };
allow { unconfined_t } column_other:db_column { select update insert drop };

#tuples
allow { unconfined_t } sqlite_tuple_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple_no_select_t:db_tuple { update insert delete };
allow { unconfined_t } sqlite_tuple_no_update_t:db_tuple { select insert delete };
allow { unconfined_t } sqlite_tuple_no_delete_t:db_tuple { select };


allow { unconfined_t } sqlite_tuple1_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple2_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple3_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple4_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple5_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple6_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple7_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple8_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple9_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple10_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple11_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple12_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple13_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple14_t:db_tuple { select update insert delete };
allow { unconfined_t } sqlite_tuple15_t:db_tuple { select update insert delete };


