module sqlite 1.0.0;

require {
	attribute domain;
	type unconfined_t;
	type initrc_t;
	class db_column { select update insert drop };
	class db_table { create select update insert delete setattr getattr drop };
	class db_tuple { select update insert delete };
}

type sqlite_master_t, domain;
type sqlite_master_c, domain;

type selinux_context_t, domain;
type selinux_context_c, domain;

type sqlite_temp_master_t, domain;
type sqlite_temp_master_c, domain;

type app_data_db_c, domain;
type app_data_db_t, domain;

type other_t, domain;
type other_c, domain;

allow { initrc_t unconfined_t } { sqlite_master_t sqlite_temp_master_t selinux_context_t other_t }:db_table { create select update insert delete setattr getattr drop };
allow { initrc_t unconfined_t } { sqlite_master_c sqlite_temp_master_c selinux_context_c other_c }:db_column { select update insert drop };

allow { initrc_t unconfined_t } app_data_db_c:db_column { insert };
allow { initrc_t unconfined_t } app_data_db_t:db_table { create select insert delete };

allow initrc_t self:db_tuple { select update insert delete };
allow unconfined_t self:db_tuple { select update insert delete };


